/* For mobile phones: */

/* Variable declaration */
/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 0 !important;
  overflow: hidden;
  --first-font: "Permanent Marker", cursive;
  --color1: #eee;
  --color2: #222;
  --color3: #ffd959;
  --color4: #725c40;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}

body {
  background: var(--color1);
  background-size: 64px 128px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20vmin 75vmin 5vmin;
}

.corner {
  display: none;
}

.app-header {
  background-color: var(--color2);
  font-size: 1rem;
  grid-column: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title-container {
  grid-column: 3;
  margin: 1vmax -1.2em 1vmax 2vmax;
  padding: 0vmax 1vmax;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color3);
  background: #222;
}

.app-title {
  margin: 0.5vmax 0rem 0.5vmax 0.5vmax;
  letter-spacing: 1rem;
  font-size: 4rem;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
}

.App-intro {
  font-size: large;
}

.scoreboard-wrapper {
  justify-self: end;
  color: #eee;
  background: var(--color3);
  margin: 2vmax 4vmax 2vmax 2vmax;
  padding: 1vmax;
  max-width: 560px;
  grid-column: span 1;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 392px;
  border-top: 5px solid #444;
  border-right: 5px solid #222;
  border-bottom: 5px solid #222;
  border-left: 5px solid #333;
}

.scoreboard {
  color: #eee;
  background: #222;
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0vmax 4vmax 0vmax 4vmax;
  height: 392px;
}

.scoreboard-score {
  background: #222;
  color: var(--color3);
  text-align: center;
  align-self: center;
  font-size: 2em;
  grid-column: 1;
  grid-row: 1;
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.scoreboard-found-words {
  background: #222;
  color: var(--color3);
  text-align: center;
  align-self: center;
  font-size: 2em;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.scoreboard-words-left {
  background: #222;
  color: var(--color3);
  text-align: center;
  align-self: center;
  font-size: 2em;
  grid-column: 3;
  grid-row: 1;
  margin-top: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.timer {
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  grid-column: 3;
  grid-row: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.scoreboard-start-button {
  grid-column: 1 / span 3;
  grid-row: 2;
  font-family: "Permanent Marker", cursive;
  padding: 1vmax;
  background: none;
  color: var(--color3);
  border-width: 0;
  font-weight: bold;
  font-size: 4rem;
  margin: 2vmax 2vmax 2vmax 2vmax;
  cursor: pointer;
  box-shadow: none;
}

.scoreboard-surrender-button {
  grid-column: 1 / span 3;
  grid-row: 3;
  font-family: "Permanent Marker", cursive;
  padding: 1vmax;
  background: none;
  color: var(--color3);
  border-width: 0;
  font-weight: bold;
  font-size: 4rem;
  margin: 2vmax 2vmax 2vmax 2vmax;
  cursor: pointer;
  box-shadow: none;
}

.scoreboard-instructions {
  margin-top: 2vmax;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: var(--color3);
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

#scrabble {
  justify-self: start;
  margin: 2vmax 2vmax 2vmax 4vmax;
  text-align: center;
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: end;
}

.board {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.board-border {
  position: relative;
  background: var(--color3);
  width: 560px;
  height: 392px;
  padding: 1vmax;
  border-top: 5px solid #444;
  border-right: 5px solid #222;
  border-bottom: 5px solid #222;
  border-left: 5px solid #333;
}

.board-square {
  position: relative;
  background-color: #222;
  width: 56px;
  height: 56px;
}

.dragged-over {
  background: #111;
}

.board-square:nth-child(n + 33):nth-child(-n + 40) {
  box-sizing: border-box;
  border-bottom: 5px solid var(--color3);
  border-top: 5px solid var(--color3);
  background-color: var(--color2);
}

.board-square:nth-child(33) {
  box-sizing: border-box;
  border-left: 5px solid var(--color3);
}

.board-square:nth-child(40) {
  box-sizing: border-box;
  border-right: 5px solid var(--color3);
}

.tile {
  position: absolute;
  z-index: 2;
  width: 56px;
  height: 56px;
  background: var(--color3);
  cursor: move;
  border-radius: 1px;
  border-color: white;
  box-shadow: 0.5px 0.5px 0 #bda259, 1px 1px 0 #bda259, 1.5px 1.5px 0 #bda259,
    2px 2px 0 #bda259, 2.5px 2.5px 0 #bda259, 3px 3px 0 #bda259;
}

.is-dragging {
  opacity: 0.7;
}

.is-established {
  background: yellow;
}

.draggable {
  cursor: move;
}

.tile-letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  font-size: 2.5rem;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
}

.tile-points {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  line-height: 5px;
  text-align: center;
  font-size: 1.25rem;
  color: #222;
}

.controls {
  position: relative;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2vmax;
}

.resultsmodal {
}

.resultsmodal-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #222;
  line-height: 6rem;
}

.resultsmodal-scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
}
.resultsmodal-subheader {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

.resultsmodal-finalscore {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #222;
}

.resultsmodal-body {
  text-align: center;
  padding: 0vmax 4vmax;
}

.resultsmodal-wordsfound {
  font-family: var(--first-font);
  font-size: 1.5em;
}

.resultsmodal-remainingwords {
  font-family: var(--first-font);
  font-size: 1.5em;
}

.resultsmodal-footer {
  text-align: center;
  padding: 1vmax 4vmax;
}

#resultsmodal-footer-button {
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  padding: 1vmax 2vmax;
  transition: 0.25s ease-in-out;
  background: #ffd959;
  color: #222;
  border-width: 0;
  font-size: 3rem;
  font-weight: bold;
  margin: 2vmax 2vmax 2vmax 2vmax;
  cursor: pointer;
}

#resultsmodal-footer-button:focus {
  outline: 0;
}

#resultsmodal-footer-button:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.footer {
  grid-column: 1 / span 5;
  display: grid;
  align-items: center;
}

button {
  padding: 1vmax;
  transition: 0.25s ease-in-out;
  background: #ffd959;
  color: #222;
  border-width: 0;
  margin: 2vmax 2vmax 2vmax 2vmax;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0 #bda259, 1px 1px 0 #bda259, 1.5px 1.5px 0 #bda259,
    2px 2px 0 #bda259, 2.5px 2.5px 0 #bda259, 3px 3px 0 #bda259;
}

button:focus {
  outline: 0;
}

button:hover {
  transform: scale(1.25);
  transition: 0.25s ease-in-out;
}

hr {
  margin-top: 1vmax;
  margin-bottom: 1vmax;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .App {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vmin 75vmin 5vmin;
  }

  .corner {
    display: inline;
  }

  .app-header {
    background-color: var(--color2);
    font-size: 1rem;
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-title-container {
    grid-column: 3;
    margin: 1vmax -1.2em 1vmax 2vmax;
    padding: 0vmax 1vmax;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color3);
    background: #222;
  }

  .app-title {
    margin: 0.5vmax -2rem 0.5vmax 0.5vmax;
    letter-spacing: 3rem;
    font-size: 4rem;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
  }

  #scrabble {
    display: block;
  }

  .scoreboard-wrapper {
    justify-self: end;
    color: #eee;
    background: var(--color3);
    margin: 2vmax 4vmax 2vmax 2vmax;
    padding: 1vmax;
    max-width: 560px;
    grid-column: span 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 392px;
    border-top: 5px solid #444;
    border-right: 5px solid #222;
    border-bottom: 5px solid #222;
    border-left: 5px solid #333;
  }
}
