/* For mobile phones: */

/* Variable declaration */
/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  /*font-size: 62.5%;*/
  /*--main-font: "";*/
  --color1: #222;
  --color2: #eeeeee;
  --color3: #f39f41;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}

body {
  background: var(--color2);
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vmin 70vmin 10vmin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*align-self: center;*/
  /*padding: 20px;*/
  color: white;
  font-size: 1rem;
  /*margin-bottom: 2vmax;*/
  grid-column: 1 / span 5;
  display: grid;
}

.App-title {
  align-self: center;
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  grid-column: span 3;
  display: grid;
}

#scrabble {
  margin: 2vmax 2vmax;
  text-align: center;
}

/*$tile-size:       56px;
$square-size:     56px;
$squares-per-row: 11;
$squares-per-col: 7;
$gutter-width:    8px;
$board-width:     616px;
$board-height:    392px;*/

.board {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.board-border {
  position: relative;
  background: grey;
  width: 560px;
  height: 392px;
  padding: 8px;
}

.board-square {
  position: relative;
  width: 56px;
  height: 56px;
  background: #222;
}

.dragged-over {
  background: grey;
}

.tile {
  position: absolute;
  z-index: 2;
  width: 56px;
  height: 56px;
  background: #ffd959;
  cursor: move;
  border-radius: 1px;
  border-color: white;
  box-shadow: 0.5px 0.5px 0 #bda259, 1px 1px 0 #bda259, 1.5px 1.5px 0 #bda259,
    2px 2px 0 #bda259, 2.5px 2.5px 0 #bda259, 3px 3px 0 #bda259;
}

.is-dragging {
  opacity: 0.7;
}

.is-established {
  background: yellow;
}

.draggable {
  cursor: move;
}

.tile-letter {
  position: absolute;
  /*border-width: 1px;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  font-size: 1.75rem;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
}

.tile-points {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  line-height: 5px;
  text-align: center;
  font-size: 0.85rem;
  color: #222;
}

.controls {
  position: relative;
  margin: 1rem auto;
  width: 632px;
  text-align: center;
  margin-bottom: 2vmax;
}

.footer {
  grid-column: 1 / span 5;
  display: grid;
  align-items: center;
}