/* For mobile phones: */

/* Variable declaration */
/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  /*font-size: 62.5%;*/
  /*--main-font: "";*/
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}

body {
  background: #eee;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15vmin 75vmin 10vmin;
}

.App-header {
  background-color: #222;
  color: white;
  font-size: 1rem;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*box-shadow: 5px 5px 0px #333;*/
}

.App-title {
  margin: 0;
  align-self: center;
  font-size: 2rem;
  color: #ffd959;
  grid-column: 1 / span 2;
}

.App-intro {
  font-size: large;
}

.scoreboard-wrapper {
  color: #eee;
  background: #c19b6c;
  margin: 2vmax 2vmax;
  padding: 1vmax;
  grid-column: span 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-shadow: 0.5px 0.5px 0 #362817, 1px 1px 0 #362817, 1.5px 1.5px 0 #362817,
    2px 2px 0 #362817, 2.5px 2.5px 0 #362817, 3px 3px 0 #362817;
  height: 392px;
}

.scoreboard {
  color: #eee;
  background: #222;
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0vmax 2vmax 0vmax 2vmax;
  height: 392px;
}


.score {
  background: #222;
  text-align: center;
  align-self: center;
  font-size: 2em;
  grid-column: 1;
  grid-row: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.timer {
  text-align: center;
  align-self: center;
  font-size: 2em;
  grid-column: 2;
  grid-row: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
}

.words {
  font-family: "Permanent Marker", cursive;
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

#scrabble {
  margin: 2vmax 2vmax;
  text-align: center;
  box-shadow: 0.5px 0.5px 0 #362817, 1px 1px 0 #362817, 1.5px 1.5px 0 #362817,
    2px 2px 0 #362817, 2.5px 2.5px 0 #362817, 3px 3px 0 #362817;
}

.button-container {
  display: flex;
  justify-content: center;
  grid-column-start: 3;
      grid-column-end: end;
}

/*$tile-size:       56px;
$square-size:     56px;
$squares-per-row: 11;
$squares-per-col: 7;
$gutter-width:    8px;
$board-width:     616px;
$board-height:    392px;*/

.board {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.board-border {
  position: relative;
  background: #c19b6c;
  /*margin: 1px;*/
  width: 560px;
  height: 392px;
  padding: 1vmax;
  /*box-shadow: 5px 5px 0px #333;*/
}

.board-square {
  position: relative;
  background-color: #222;
  width: 56px;
  height: 56px;
}

.dragged-over {
  background: #222;
}

.tile {
  position: absolute;
  z-index: 2;
  width: 56px;
  height: 56px;
  background: #ffd959;
  cursor: move;
  border-radius: 1px;
  border-color: white;
  box-shadow: 0.5px 0.5px 0 #bda259, 1px 1px 0 #bda259, 1.5px 1.5px 0 #bda259,
    2px 2px 0 #bda259, 2.5px 2.5px 0 #bda259, 3px 3px 0 #bda259;
}

.is-dragging {
  opacity: 0.7;
}

.is-established {
  background: yellow;
}

.draggable {
  cursor: move;
}

.tile-letter {
  position: absolute;
  /*border-width: 1px;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  font-size: 1.75rem;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
}

.tile-points {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  line-height: 5px;
  text-align: center;
  font-size: 0.85rem;
  color: #222;
}

.controls {
  position: relative;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2vmax;
}

.footer {
  grid-column: 1 / span 5;
  display: grid;
  align-items: center;
}

button {
  padding: 1vmax;
  background: #ffd959;
  color: #222;
  border-width: 0;
  margin: 2vmax 2vmax 2vmax 2vmax;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0 #bda259, 1px 1px 0 #bda259, 1.5px 1.5px 0 #bda259,
    2px 2px 0 #bda259, 2.5px 2.5px 0 #bda259, 3px 3px 0 #bda259;
}
